@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poppins{
  font-family: 'Poppins', sans-serif;
}
.bg{
  background: rgb(255,123,2);
  background: linear-gradient(90deg, rgba(255,123,2,1) 0%, rgba(255,222,0,1) 61%);
}

body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.nvbr:hover{
  color: rgba(255,222,0,1) ;
}
.bg-border:focus{
  outline-color: rgba(255,222,0,1);
}
.error {
  border-color: red;
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
